/backend/.idea/backend.iml
/backend/.idea/misc.xml
/backend/.idea/modules.xml
/backend/.idea/php.xml
/backend/.idea/workspace.xml
/backend/.idea/vcs.xml
/backend/public/uploads
/backend/.idea/.gitignore
/backend/.idea/codeStyles/Project.xml
/backend/.idea/codeStyles/codeStyleConfig.xml
/backend/.idea/inspectionProfiles/Project_Default.xml
