.page-link {
  cursor: pointer;
}
.overflow-visible {
  overflow: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.object-fit-cover {
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}