.page-link {
  cursor: pointer;
}
.overflow-visible {
  overflow: visible;
}
.overflow-y-visible {
  overflow-y: visible;
}
.object-fit-cover {
  object-fit: cover;
}
.cursor-pointer {
  cursor: pointer;
}
.img-circle {
  border-radius: 100%;
}
@media (min-width: 768px) {
  .border-sm-top {
    border-top: none;
  }
  .border-md-left {
    border-left: 1px solid #dee2e6;
  }
}

@media (max-width: 768px) {
  .border-sm-top {
    border-top: 1px solid #dee2e6;
  }
  .border-md-left {
    border-left: none;
  }
}
.post-image {
  max-height: 192px;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}