$theme-color: #5e72e4;
$theme-color-light: #64c0df;
$danger-color: #dc3545;
.color-theme{
  color: $theme-color !important;
}
.color-red{
  color: $danger-color !important;
}
.background-theme{
  background-color: $theme-color !important;
}
//-----------added by Rmaj 2020/01/03/7:00am---------
.w-10 {
  width: 10% !important;
}
.w-15{
  width: 15% !important;
}
.w-20{
  width: 20% !important;
}
.w-30{
  width: 30% !important;
}
.w-40{
  width: 40% !important;
}
.w-50{
  width: 50% !important;
}
.w-60{
  width: 60% !important;
}
.w-70{
  width: 70% !important;
}
.w-80{
  width: 80% !important;
}
.w-90{
  width: 90% !important;
}



.section-10 {
  padding-top: 10px;
  padding-bottom: 10px
}

.section-20 {
  padding-top: 20px;
  padding-bottom: 20px
}

.section-34 {
  padding-top: 34px;
  padding-bottom: 34px
}

.section-41 {
  padding-top: 41px;
  padding-bottom: 41px
}

.section-50 {
  padding-top: 50px;
  padding-bottom: 50px
}

.section-66 {
  padding-top: 66px;
  padding-bottom: 66px
}

.section-85 {
  padding-top: 85px;
  padding-bottom: 85px
}

.section-98 {
  padding-top: 98px;
  padding-bottom: 98px
}

.section-110 {
  padding-top: 110px;
  padding-bottom: 110px
}

.section-124 {
  padding-top: 124px;
  padding-bottom: 124px
}

.section-174 {
  padding-top: 174px;
  padding-bottom: 174px
}

.section-254 {
  padding-top: 254px;
  padding-bottom: 254px
}

.section-350 {
  padding-top: 350px;
  padding-bottom: 350px
}

@media (min-width: 480px) {
  .section-xs-0 {
    padding-top:0;
    padding-bottom: 0
  }

  .section-xs-34 {
    padding-top: 34px;
    padding-bottom: 34px
  }

  .section-xs-41 {
    padding-top: 41px;
    padding-bottom: 41px
  }

  .section-xs-50 {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .section-xs-66 {
    padding-top: 66px;
    padding-bottom: 66px
  }

  .section-xs-85 {
    padding-top: 85px;
    padding-bottom: 85px
  }

  .section-xs-98 {
    padding-top: 98px;
    padding-bottom: 98px
  }

  .section-xs-110 {
    padding-top: 110px;
    padding-bottom: 110px
  }

  .section-xs-124 {
    padding-top: 124px;
    padding-bottom: 124px
  }

  .section-xs-254 {
    padding-top: 254px;
    padding-bottom: 254px
  }

  .section-xs-350 {
    padding-top: 350px;
    padding-bottom: 350px
  }
}

@media (min-width: 768px) {
  .section-sm-0 {
    padding-top:0;
    padding-bottom: 0
  }

  .section-sm-34 {
    padding-top: 34px;
    padding-bottom: 34px
  }

  .section-sm-41 {
    padding-top: 41px;
    padding-bottom: 41px
  }

  .section-sm-50 {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .section-sm-66 {
    padding-top: 66px;
    padding-bottom: 66px
  }

  .section-sm-85 {
    padding-top: 85px;
    padding-bottom: 85px
  }

  .section-sm-98 {
    padding-top: 98px;
    padding-bottom: 98px
  }

  .section-sm-110 {
    padding-top: 110px;
    padding-bottom: 110px
  }

  .section-sm-124 {
    padding-top: 124px;
    padding-bottom: 124px
  }

  .section-sm-254 {
    padding-top: 254px;
    padding-bottom: 254px
  }

  .section-sm-350 {
    padding-top: 350px;
    padding-bottom: 350px
  }
}

@media (min-width: 992px) {
  .section-md-0 {
    padding-top:0;
    padding-bottom: 0
  }

  .section-md-34 {
    padding-top: 34px;
    padding-bottom: 34px
  }

  .section-md-41 {
    padding-top: 41px;
    padding-bottom: 41px
  }

  .section-md-50 {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .section-md-66 {
    padding-top: 66px;
    padding-bottom: 66px
  }

  .section-md-85 {
    padding-top: 85px;
    padding-bottom: 85px
  }

  .section-md-98 {
    padding-top: 98px;
    padding-bottom: 98px
  }

  .section-md-110 {
    padding-top: 110px;
    padding-bottom: 110px
  }

  .section-md-124 {
    padding-top: 124px;
    padding-bottom: 124px
  }

  .section-md-254 {
    padding-top: 254px;
    padding-bottom: 254px
  }

  .section-md-350 {
    padding-top: 350px;
    padding-bottom: 350px
  }
}

@media (min-width: 1200px) {
  .section-lg-0 {
    padding-top:0;
    padding-bottom: 0
  }

  .section-lg-34 {
    padding-top: 34px;
    padding-bottom: 34px
  }

  .section-lg-41 {
    padding-top: 41px;
    padding-bottom: 41px
  }

  .section-lg-50 {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .section-lg-66 {
    padding-top: 66px;
    padding-bottom: 66px
  }

  .section-lg-85 {
    padding-top: 85px;
    padding-bottom: 85px
  }

  .section-lg-98 {
    padding-top: 98px;
    padding-bottom: 98px
  }

  .section-lg-110 {
    padding-top: 110px;
    padding-bottom: 110px
  }

  .section-lg-124 {
    padding-top: 124px;
    padding-bottom: 124px
  }

  .section-lg-254 {
    padding-top: 254px;
    padding-bottom: 254px
  }

  .section-lg-350 {
    padding-top: 350px;
    padding-bottom: 350px
  }
}

@media (min-width: 1800px) {
  .section-xl-0 {
    padding-top:0;
    padding-bottom: 0
  }

  .section-xl-34 {
    padding-top: 34px;
    padding-bottom: 34px
  }

  .section-xl-41 {
    padding-top: 41px;
    padding-bottom: 41px
  }

  .section-xl-50 {
    padding-top: 50px;
    padding-bottom: 50px
  }

  .section-xl-66 {
    padding-top: 66px;
    padding-bottom: 66px
  }

  .section-xl-85 {
    padding-top: 85px;
    padding-bottom: 85px
  }

  .section-xl-98 {
    padding-top: 98px;
    padding-bottom: 98px
  }

  .section-xl-110 {
    padding-top: 110px;
    padding-bottom: 110px
  }

  .section-xl-124 {
    padding-top: 124px;
    padding-bottom: 124px
  }

  .section-xl-254 {
    padding-top: 254px;
    padding-bottom: 254px
  }

  .section-xl-350 {
    padding-top: 350px;
    padding-bottom: 350px
  }
}

.pointer {
  cursor: pointer
}
//============

.card {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  border: 0;
  font-weight: inherit !important;
  padding: 36px;
  &.card-transparent {
    border: .5px solid #898989;
    background-color: #fff;
    box-shadow: none;
  }
}

.section-hero .shape-skew {
  -webkit-border-radius: 0 100px 50%/100px 0;
  -moz-border-radius: 0 100px 50%/100px 0;
  border-radius: 0 100px 50%/100px 0;
  height: 95%;
}

.section-buyers, .section-sellers, .section-wave {
  padding-top: 80px;
}

.section-sellers .landing-list li:before {
  font-family: FontAwesome;
  content: "\F058";
  position: absolute;
  left: 15px;
  color: #2fc468;
}

.section-wave::before {
  background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
  -webkit-transform: skew(0, -8deg);
  transform: skew(0, -8deg);
  content: "";
  position: absolute;
  margin-top: 20px;
  left:0;
  right:0;
  height: 480px;
  -webkit-border-radius: 50%/100px 0px 0px 0px;
  -moz-border-radius: 50%/100px 0px 0px 0px;
  border-radius: 50%/100px 0px 0px 0px;
}
footer.footer {
  padding-bottom: 0;
}
footer.footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 360px;
  background: #f4f5f7;
}
.hr-primary {
  background-color: #5e72e4;
}
hr.short {
  width: 60px;
}
.footer-logo {
  max-height: 36px;
}
.form-control option {
  font-size: 1rem;
}
.form-group .input-group-prepend {
  z-index: 10;
}
.form-group .input-group-prepend + select.form-control {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 40px;
}
.font-size-lg {
  font-size: $font-size-lg;
}
@media(max-width: 576px) {
  .h-sm-100vh {
    height: 100vh;
  }
}
//-------global added by rmaj-----
.flex-1 {
  flex: 1
}

.flex-2 {
  flex: 2
}

.flex-3 {
  flex: 3
}

.flex-4 {
  flex: 4
}

.flex-5 {
  flex: 5
}

.flex-6 {
  flex: 6
}

.flex-7 {
  flex: 7
}

.flex-8 {
  flex: 8
}

.flex-9 {
  flex: 9
}

.flex-10 {
  flex: 10
}

.flex-11 {
  flex: 11
}

.flex-12 {
  flex: 12
}

//-----Dashboard-----added by rmaj----
.text-neon-green {
  color: #2fc468 !important;
}

.text-cement-grey {
  color: #898989 !important
}
//-----badge css -----added by rmaj----
$white: #fff;
$off-white: #fafafa;
$black: #323232;
$grey: #6C7A89;
$grey-light: #95A5A6;
$blue: #2574A9;
$dark-blue: #34495e;
$green: #16a085;

// UNITS
$spacing-unit: 40px;
$half-spacing-unit: $spacing-unit / 2;

// BORDER
$accordion-border: solid 2px $grey-light;

// ANIMATION
$transition-time: 0.2s;
@mixin base-trans {
  transition: all ease-in-out $transition-time;
}

// LINKS
@mixin link-underline($color: currentColor, $size: -2px) {
  box-shadow: inset 0 $size $color;
}

@mixin active-link() {
  color: $blue;

  .icon-link__text { @include link-underline($blue, -3px); }

  svg { fill: $blue; }
}


.badger-accordion__panel {
  max-height: 75vh;
  overflow: hidden;

  border: 1px solid #ccc;
  &.-ba-is-active {
    border-top: none;
  }
  // scss-lint:disable ImportantRule
  &.-ba-is-hidden {
    max-height: 0 !important;
    visibility: hidden;
  }

  // transition is added via `badger-accordion--initalised` to stop animation on initalition
  .badger-accordion--initalised & { transition: max-height ease-in-out 0.2s; }
}
.badger-accordion-title{
  margin: auto !important;
}
.badger-accordion__trigger-icon:before {
  left: 1px;
  -webkit-transform: rotate(45deg) translate3d(8px, 22px, 0);
  transform: rotate(45deg) translate3d(8px, 22px, 0);
  -webkit-transform-origin: 100%;
  transform-origin: 100%;
}
.badger-accordion__trigger-icon:after {
  -webkit-transform: rotate(-45deg) translate3d(-8px, 22px, 0);
  transform: rotate(-45deg) translate3d(-8px, 22px, 0);
  right: 1px;
  -webkit-transform-origin: 0;
  transform-origin: 0;
}
.badger-accordion__trigger-icon:after, .badger-accordion__trigger-icon:before {
  background-color: #333;
  content: "";
  height: 3px;
  position: absolute;
  top: 10px;
  transition: all ease-in-out 0.1333333333s;
  width: 30px;
}
.badger-accordion__trigger-icon {
  display: block;
  height: 40px;
  margin-left: auto;
  position: relative;
  transition: all ease-in-out 0.2s;
  width: 40px;
  flex: 0 0 10% !important;
}

.badger-accordion {
  box-shadow: 0 1px 10px rgba(0,0,0,.1), 0 1px 4px rgba(0,0,0,.1);
  border-radius: 4px;
  overflow: hidden;
}

.js-badger-accordion-header {
  //&:not(:last-of-type) {
    border-bottom: 1px solid #EFF1F0;
  //}
}

.badger-accordion__trigger {
  align-content: space-between;
  align-items: center;
  background-color: $white;
  border: 0;
  border-radius: 0;
  color: $dark-blue;
  display: flex;
  //font-family: 'Josefin Sans', Arial;
  font-size: 1.25rem;
  line-height: 1;
  padding: $half-spacing-unit;
  text-align: left;
  transition: all ease-in-out $transition-time;
  width: 100%;

  &[aria-expanded=true] {
    .badger-accordion__trigger-icon {
      &:before {
        transform: rotate(45deg) translate3d(13px, 14px, 0);
      }

      &:after {
        transform: rotate(-45deg) translate3d(-13px, 14px, 0);
      }
    }
  }

  &:focus,
  &:hover {
    background-color: $green;
    cursor: pointer;
    outline: none;

    .badger-accordion__trigger-title { color: $white; }

    .badger-accordion__trigger-icon {
      &:after,
      &:before {
        background-color: $white;
      }
    }
  }

  // Removing "inner outline" for Firefox
  &::-moz-focus-inner {
    border: none;
  }
}


.badger-accordion__trigger-title {
  font-size: 1.2rem;
  transition: ease-in-out 0.3s;
}

.badger-accordion__trigger-icon {
  display: block;
  height: $spacing-unit;
  margin-left: auto;
  position: relative;
  transition: all ease-in-out $transition-time;
  width: $spacing-unit;

  &:after,
  &:before {
    background-color: #333;
    content: "";
    height: 3px;
    position: absolute;
    top: 10px;
    transition: all ease-in-out (($transition-time / 3) * 2);
    width: 30px;
  }

  &:before {
    left: 1px;
    transform: rotate(45deg) translate3d(8px, 22px, 0);
    transform-origin: 100%;
  }

  &:after {
    transform: rotate(-45deg) translate3d(-8px, 22px, 0);
    right: 1px;
    transform-origin: 0;
  }
}

.badger-accordion__panel {
  background-color: $off-white;
  position: relative;

}

.badger-accordion__panel-inner {
  padding: $half-spacing-unit $half-spacing-unit $spacing-unit;
}
@media screen and (max-width: 767px) {
  .badger-accordion__trigger-icon {
    display: none;
    padding: $half-spacing-unit;
  }
}
.js-badger-accordion-header{
  background-color: #f4f4f4   ;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  //border: none;
  border: 1px solid #ccc;
  &.-ba-is-active{
    border-bottom: none;
  }
  &:hover{
    background-color: #ddd;
  }
}
button.badger-accordion-toggle:focus {
  outline: none;
}
.js-badger-accordion-panel-inner{
  padding: 20px;
  display: block;
  animation: fadein .35s ease-in;
}
.button-basic{
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  color: #898989;
}
.button-basic:hover{
  background-color: #ffffff;
  color: #606062;
}
.btn-grad-effect{
  color: #f5f5f5;
  background: linear-gradient(45deg, $theme-color-light, $theme-color, $theme-color-light);
  background-size:300% 100%;
  background-position: 100% 0;
  background-color: $theme-color !important;
  border: none;
  &:not(:disabled):not(.disabled){
    cursor: pointer;
  }
  &:hover {
    background-position: 0 100%;
    transition: all .5s ease;
    -webkit-transition: all .5s ease;
    color: #f5f5f5 !important;
  }
  &:active{
    background-color: $theme-color;
    color: #fff !important;
  }
}
.lbl{
  border-radius: 5px;
  padding: 4px 12px;
  text-transform: uppercase;
  font-size: 12px;

  &.label-warning {
    background-color: #f39c12;
    color: #fff;
  }
  &.label-success{
    background-color: #2fc468;
    color: #fff;
  }
}
//-------form validation---added by rmaj---
.invalid-feedback {
  display: block;
  width: 100%;
  margin-top: .25rem;
  font-size: 80%;
  color: #dc3545;
  &:after, &:before {
    box-sizing: border-box;
  }
}
//form .form-group .form-control.invalid-input {
//  border-color: #e74c3c;
//}
.form-control.invalid-input {
  border-color: #e74c3c;
}
html body{
  font-weight: 300;
}
//-------several part seperator----added by rmaj-------
@media (min-width: 768px) {
  .border-md-left {
    border-left:1px solid #dee2e6
  }
}

@media (max-width: 767.98px) {
  .border-md-left {
    border-left:none
  }
}

@media (max-width: 767.98px) {
  .border-sm-top {
    border-top:1px solid #dee2e6
  }
}

@media (min-width: 768px) {
  .border-sm-top {
    border-top:none
  }
}
//-------addproduct added by rmaj ---
form.form-verifyproduct{
  width: 60%;
}
.preview-profile {
  border-radius: 1em;
  padding: 16px;
  margin: 24px 0;
  width: 60%;
}
.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.z-depth-2 {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}
.row.button-next {
  justify-content: flex-end;
  width: 60%;
}
.dropzone-border{
  border: 4px dotted $theme-color;
}
//=================================
.addon-svg {
  height: 24px;
  display: flex;
}
.filters {
  //border-radius: 7px;
  .filters-header {
    //border-top-right-radius: 7px;
    //border-top-left-radius: 7px;
    margin-left: -15px;
    margin-right: -15px;

    h6 {
      //border-top-right-radius: 7px;
      //border-top-left-radius: 7px;
      justify-content: center;
    }
  }

}

.filters-body .addon-svg {
  color: #fb6340;
}

.addon-svg .fa-fw {
  width: 1.2rem;
}

.input-group-prepend .input-group-text {
  border-right-width: 0;
}

.filters .vs__dropdown-toggle .vs__selected {
  font-size: 0.8rem;
  padding: 4px 6px;
  border-radius: 3px;
}

.filters .vs__dropdown-toggle .vs__selected:nth-child(1) {
  background-color: #4deea9;
  border-color: #2dce89;
}

.filters .vs__dropdown-toggle .vs__selected:nth-child(2) {
  background-color: #31edff;
  border-color: #11cdef;
}

.filters .vs__dropdown-toggle .vs__selected:nth-child(3) {
  background-color: #ffc4d5;
  border-color: #f3a4b5;
}
@media(min-width:992px) {
  .navbar-main {
    padding: 0;
  }
}
@media(max-width:991px) {
  .navbar-main {
    padding: 1rem;
    padding-bottom: 1rem!important;
  }
}
.product-item {
  font-size: 0.875rem;
  a:hover {
    -webkit-box-shadow: 3px 3px 5px 2px rgba(173,173,173,1);
    -moz-box-shadow: 3px 3px 5px 2px rgba(173,173,173,1);
    box-shadow: 3px 3px 5px 2px rgba(173,173,173,1);
    .bg-success {
      background-color: #3edf9a!important;
    }
    .bg-primary {
      background-color: #6f83f5!important;
    }
    .bg-warning {
      background-color: #ff7451!important;
    }
    .product-banner, .profile-img {
      filter: brightness(107%);
    }
  }
  .product-header {
    margin-bottom: -40px;
    .product-banner {
      min-height: 90px;
      height: 90px;
    }
    .profile-img {
      border-radius: 100%;
      min-height: 98px;
      height: 98px;
      top: -50px;
      position: relative;
    }
  }
  .product-body {
    .product-profile {
      font-size: 0.8rem;
    }
    .progress-wrapper {
      padding-top: 0;
      .progress-info {
        .progress-label span {
          padding: .125rem 1rem;
        }
        margin-bottom: .3rem;
      }
      .progress {
        margin-bottom: .5rem;
      }
    }
  }
}
.navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 7px;
  border:none;
  .toggler-line {
    width: 100%;
    height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    border-top: 2px solid white;
    background-color: white;
    margin-top: 4px;
  }
}

.navbar-light {
  padding-bottom: 0.3rem;
  -webkit-box-shadow: 0 3px 3px 0 rgba(177,177,177,1);
  -moz-box-shadow: 0 3px 3px 0 rgba(177,177,177,1);
  box-shadow: 0 3px 3px 0 rgba(177,177,177,1);
  .toggler-line {
    border-color: $navbar-light-toggler-border-color;
    background-color: $navbar-light-color;
  }
}

.navbar-transparent {
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  .toggler-line {
    border-color: white;
    background-color: white;
  }
}
#bottombar {
  background-color: $bottombar-bg-color;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  .bottombar-link {
    display: flex;
    svg {
      height: 30px!important;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    span {
      font-size: 0.7rem;
      color: #172b4d;
    }
    .router-link-active {
      svg {
        fill: #5e72e4;
      }
      span {
        color: #5e72e4;
      }
    }
  }

}
.floating-buttons {
  position: fixed;
  bottom: 100px;
  width: 100%;
  justify-content: center;
  z-index: 9999;
  right: 0;
  .filters-button {
    border-radius: 14px;
    padding: 10px 24px;
    background-color: $bottombar-bg-color;
    opacity: $bottombar-opacity;
  }
}
.img-round {
  border-radius: 100%;
}
#cart-info-carousel  {
  overflow-y:visible;
  .carousel-inner {
    padding-bottom: 96px;
    img.w-100 {
      width: 50% !important;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .carousel-caption {
    color: $default;
    padding: 10px;
    left:0;
    right: 0;
    top: 100%;
  }
  .carousel-control-prev-icon {
    background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$default}' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E"), "#", "%23");
  }
  .carousel-control-next-icon {
    background-image: str-replace(url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#{$default}' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E"), "#", "%23");
  }
}
.image-preview img,
.image-preview video {
  border-radius: 10%;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.pagination {
  li {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: pointer;
    a {
      display: flex;
      line-height: 30px;
      color: $dark;
      font-size: 18px;
    }
    a:focus {
      outline: 0
    }
  }
  li.active {
    a {
      color: $primary;
    }
  }
  li:hover {
    background-color: #eeeeee;
  }
}
.browse-pagination {
  display: flex;
  justify-content: flex-end;
}