Congratulations! You have got a new order requested!

Hi, {{ seller.name }}, {{ user.name }} just purchased your shoutout.
You can see the new order in this link: <a href="{{ baseUrl }}/myorders/sales">{{ baseUrl }}/myorders/sales</a>
The order will be automatically rejected if you won't respond in {{ acceptDeadline }}.